<h1>Fragen und Antworten</h1>
<mat-accordion>
	<mat-expansion-panel hideToggle>
		<mat-expansion-panel-header>
			<mat-panel-title>Wie melde ich mich an?</mat-panel-title>
			<mat-panel-description>
				Anmeldedaten wie am normalen Schulrechner.
			</mat-panel-description>
		</mat-expansion-panel-header>
		<p>
			Verwende zum Anmelden die selben Anmeldedaten, die du auch am normalen Schulrechner verwendest.
			Warte gegebenenfalls, bis dein Lehrer deinen Zugang freischaltet.
		</p>
	</mat-expansion-panel>
</mat-accordion>