<h2 mat-dialog-title style="color: red;">Wirklich löschen?</h2>
<mat-dialog-content>
	<p *ngIf="isSingel" style="color: red">Sie sind dabei, diesen User unwiederruflich zu löschen.</p>
	<p *ngIf="isMulti" style="color: red">Sie sind dabei, diese User unwiederruflich zu löschen.</p>
	<p>Das Benutzerkonto kann nicht wiederhergestellt werden. Eine erneute Freischaltung ist möglich, dennoch können
		die Daten <b>NICHT</b> wiederhergestellt werden!</p>
	<p *ngIf="isSingel">Sind Sie sicher, dass Sie <span style="color: green; font-weight: bold;">{{singelData}}</span>
		löschen möchten?
	</p>
	<p *ngIf="isMulti">Folgende Benutzerkonten werden unwiederbringlich gelöscht:</p>
	<mat-chip-list *ngIf="isMulti">
		<mat-chip *ngFor="let item of multiData">{{item}}</mat-chip>
	</mat-chip-list>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-button mat-dialog-close mat-dialog-close="false">Nein</button>
	<button mat-button mat-dialog-close mat-dialog-close="true">Ja</button>
</mat-dialog-actions>