<h2 mat-dialog-title>Neue Datei</h2>
<mat-dialog-content [formGroup]="newNameGroup">
	<p>Die Datei wird im aktuellen Verzeichnis angelegt. Bitte wähle einen geeigneten Namen und achte auf die
		Dateiendung.</p>
	<mat-form-field appearance="outline">
		<mat-label>Name</mat-label>
		<input type="text" matInput required name="newName" formControlName="newName">
	</mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-button mat-dialog-close mat-dialog-close="false">Abbrechen</button>
	<button mat-button (click)="onClickOkay()">Okay</button>
</mat-dialog-actions>