<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height" *ngIf="!isEditor"></particles>
<mat-sidenav-container id="particles-js" *ngIf="!isLogin && !isEditor">
	<mat-sidenav #drawer class='fix-nav'>
		<mat-nav-list>
			<a mat-list-item (click)="drawer.toggle()">
				<mat-icon>arrow_back</mat-icon>
			</a>
			<div *ngFor="let item of navItems">
				<a mat-list-item href="{{item.url}}"
					*ngIf="site.name!=item.name && item.admin==site.admin && item.showInNavBar">{{item.name}}</a>
			</div>

		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<div class="headline">
			<h1>Good Coding</h1>
			<h2><span *ngIf="site.admin">Administrator:</span>{{site.name}}</h2>
		</div>
		<div class="wrapper">
			<router-outlet></router-outlet>
		</div>
		<div class="app-header-bar">
			<mat-toolbar color="primary" class="navbar navbar-top" (scroll)="onWindowScroll($event);">
				<button mat-icon-button>
					<mat-icon *ngIf="!isWait" (click)="drawer.toggle()">menu</mat-icon>
				</button>
				<span style="float: left;">Good Coding</span>
			</mat-toolbar>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
<router-outlet *ngIf="isLogin || isEditor"></router-outlet>
<app-footer-bar *ngIf="!isLogin && !isEditor"></app-footer-bar>