<h1>Dashboard</h1>
<div class="dashboard-flex">
	<mat-card class="item">
		<mat-card-title>Speicher</mat-card-title>
		<mat-card-content>
			<canvas baseChart [datasets]="storageChartData" [labels]="storageChartLabels"
				[options]="storageChartOptions" [legend]="storageChartLegend"
				[chartType]="storageChartType"></canvas>
			<p>
				<b style="text-align: center;">
					200MB von 1GB
				</b>
			</p>
		</mat-card-content>
		<mat-card-actions>
			<button mat-button>Mehr Infos</button>
		</mat-card-actions>
	</mat-card>
	<mat-card class="item">
		<mat-card-title>Arbeitsspeicher</mat-card-title>
		<mat-card-content>
			<canvas baseChart [datasets]="memoryChartData" [labels]="memoryChartLabels"
				[options]="memoryChartOptions" [legend]="memoryChartLegend" [chartType]="memoryChartType"></canvas>
			<p>
				<b>{{totalMemory}} MB Gesamt</b>
			</p>
			<mat-progress-bar color="primary" mode="buffer" [value]="memoryProgress" [bufferValue]="memoryBuffer">
			</mat-progress-bar><span>{{memoryProgress}}%</span>
		</mat-card-content>
	</mat-card>
	<mat-card class="item">
		<mat-card-title>CPU</mat-card-title>
		<mat-card-content>
			<canvas baseChart [datasets]="cpuChartData" [labels]="cpuChartLabels" [options]="cpuChartOptions"
				[legend]="cpuChartLegend" [chartType]="cpuChartType"></canvas>
		</mat-card-content>
		<p>
			<b matTooltip="Mittelwert der Rechenoperationen in der letzten Minute">{{cpu}}% Auslastung</b>
		</p>
	</mat-card>
	<mat-card class="item">
		<mat-card-title>
			<mat-icon matBadge="5">email</mat-icon><span style="margin-left: 1em;">Post</span>
		</mat-card-title>
		<mat-card-content>
			<mat-list>
				<ng-container *ngFor="let item of messages">
					<mat-list-item>
						<mat-icon mat-list-icon>{{item.isNew ? "markunread" : "drafts"}}</mat-icon>
						<h2 style="font-weight: bold;" mat-line>{{item.head}}</h2>
						<span mat-line>Von: {{item.from.forename}} {{item.from.lastname}}</span>
					</mat-list-item>
					<mat-divider></mat-divider>
				</ng-container>
			</mat-list>
		</mat-card-content>
	</mat-card>
	<mat-card class="item">
		<mat-card-title>
			Sonstige Informationen
		</mat-card-title>
		<mat-card-content>
			<mat-list>
				<mat-list-item>
					<mat-icon mat-list-icon>history</mat-icon>
					<h2 mat-line>PHP Version</h2>
					<span mat-line>Version 7.3</span>
				</mat-list-item>
				<mat-divider></mat-divider>
				<mat-list-item>
					<mat-icon mat-list-icon>history</mat-icon>
					<h2 mat-line>Domain</h2>
					<a mat-line
						href="http://www.info.marianumlan.de/~{{username}}">www.info.marianumlan.de/~{{username}}</a>
				</mat-list-item>
				<mat-divider></mat-divider>
				<mat-list-item>
					<mat-icon mat-list-icon>history</mat-icon>
					<h2 mat-line>FTP-Zugang</h2>
					<span mat-line>Ein Zugang freigeschaltet</span>
				</mat-list-item>
			</mat-list>
		</mat-card-content>
	</mat-card>
</div>