<h1>Dashboard</h1>
<div class="dashboard-flex">
	<mat-card class="item">
		<mat-card-title>Speicher</mat-card-title>
		<mat-card-content>
			<canvas baseChart [datasets]="storageChartData" [labels]="storageChartLabels"
				[options]="storageChartOptions" [legend]="storageChartLegend"
				[chartType]="storageChartType"></canvas>
			<p>
				<b style="text-align: center;">
					{{storageChartData[0].data[0]}}MB von
					{{(storageChartData[0].data[0]+storageChartData[0].data[1])}}MB
				</b>
			</p>
		</mat-card-content>
		<mat-card-actions>
			<button mat-button>Mehr Infos</button>
		</mat-card-actions>
	</mat-card>
	<mat-card class="item">
		<mat-card-title>Arbeitsspeicher</mat-card-title>
		<mat-card-content>
			<canvas baseChart [datasets]="memoryChartData" [labels]="memoryChartLabels"
				[options]="memoryChartOptions" [legend]="memoryChartLegend" [chartType]="memoryChartType"></canvas>
			<p>
				<b>{{totalMemory}} MB Gesamt</b>
			</p>
			<mat-progress-bar color="primary" mode="buffer" [value]="memoryProgress" [bufferValue]="memoryBuffer">
			</mat-progress-bar><span>{{memoryProgress}}%</span>
		</mat-card-content>
	</mat-card>
	<mat-card class="item">
		<mat-card-title>CPU</mat-card-title>
		<mat-card-content>
			<canvas baseChart [datasets]="cpuChartData" [labels]="cpuChartLabels" [options]="cpuChartOptions"
				[legend]="cpuChartLegend" [chartType]="cpuChartType"></canvas>
		</mat-card-content>
		<p>
			<b matTooltip="Mittelwert der Rechenoperationen in der letzten Minute">{{cpu}}% Auslastung</b>
		</p>
	</mat-card>
	<mat-card class="item">
		<mat-card-title>
			<mat-icon>email</mat-icon><span style="margin-left: 1em;">Arbeitsaufträge</span>
		</mat-card-title>
		<mat-card-content>
			<mat-list>
				<ng-container *ngFor="let item of messages">
					<mat-list-item (click)="openBottomSheet(item)">
						<mat-icon mat-list-icon>{{item.isNew ? "markunread" : "drafts"}}</mat-icon>
						<h2 style="font-weight: bold;" mat-line>(An: {{item.toClass}}) {{item.head}}</h2>
						<span mat-line>{{item.body}}</span>
					</mat-list-item>
					<mat-divider></mat-divider>
				</ng-container>
			</mat-list>
		</mat-card-content>
		<mat-card-actions>
			<button mat-button (click)="newMessage()">Neu</button>
		</mat-card-actions>
	</mat-card>
	<mat-card class="item">
		<mat-card-title>FTP-Zugangsdaten</mat-card-title>
		<mat-card-content>
			<mat-list>
				<mat-list-item>
					<mat-icon mat-list-icon>dns</mat-icon>
					<h2 mat-line>Übertragunsprotokoll</h2>
					<span mat-line>FTP</span>
				</mat-list-item>
				<mat-divider></mat-divider>
				<mat-list-item>
					<mat-icon mat-list-icon>https</mat-icon>
					<h2 mat-line>Verschlüsselung</h2>
					<span mat-line>TLS/SSL Explizite Verschlüsselung</span>
				</mat-list-item>
				<mat-divider></mat-divider>
				<mat-grid-list cols="2" rowHeight="72px">
					<mat-grid-tile>
						<mat-list-item>
							<mat-icon mat-list-icon>language</mat-icon>
							<h2 mat-line>Serveradresse</h2>
							<span mat-line>marianumlan.de</span>
						</mat-list-item>
					</mat-grid-tile>
					<mat-grid-tile>
						<mat-list-item>
							<mat-icon mat-list-icon>account_balance_wallet</mat-icon>
							<h2 mat-line>Port</h2>
							<span mat-line>6421</span>
						</mat-list-item>
					</mat-grid-tile>
				</mat-grid-list>
				<mat-divider></mat-divider>
				<mat-grid-list cols="2" rowHeight="72px">
					<mat-grid-tile>
						<mat-list-item>
							<mat-icon mat-list-icon>perm_identity</mat-icon>
							<h2 mat-line>Benutzername</h2>
							<span mat-line>{{username}}</span>
						</mat-list-item>
					</mat-grid-tile>
					<mat-grid-tile>
						<mat-list-item>
							<mat-icon mat-list-icon>password</mat-icon>
							<h2 mat-line>Passwort</h2>
							<span mat-line>Wie bei Login</span>
						</mat-list-item>
					</mat-grid-tile>
				</mat-grid-list>
			</mat-list>
		</mat-card-content>
	</mat-card>
</div>