<div class="flex">
	<div class="flexItem">
		<button mat-icon-button>
			<mat-icon>close</mat-icon>
		</button>
		<button mat-icon-button>
			<mat-icon>save</mat-icon>
		</button>
		<mat-form-field appearance="outline">
			<mat-label>Sprache</mat-label>
			<mat-select (selectionChange)="onChangeLanguage($event)" [value]="mode" style="color: black;">
				<mat-option *ngFor="let option of languages" [value]="option.value" style="color: black;">
					{{option.text}}</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-slide-toggle (change)="onChangeDarkMode($event)" [checked]="'true'">Dunkler Modus</mat-slide-toggle>
	</div>
	<div class="flexwrap">
		<div class="fileExplorer">
			<app-filetree (cklickFile)="onClickFile($event)" [source]="source"></app-filetree>
		</div>
		<ace [config]="config" [mode]="mode" [theme]="theme" [(value)]="value" (valueChange)="onChange($event)"></ace>
	</div>
</div>