@import '~@angular/material/theming';
@include mat-core();

$personal-theme-primary: mat-palette($mat-amber);
$personal-theme-accent: mat-palette($mat-deep-purple);
$personal-theme-warn: mat-palette($mat-red);

$personal-theme: mat-light-theme($personal-theme-primary, $personal-theme-accent, $personal-theme-warn);

@include angular-material-theme($personal-theme);